/* INDEX  --------------------
  - CSS RESET
  - GENERAL HELPER CLASSES
  - UNIVERSAL STYLES
  - HEADER & FOOTER
  - MODULAR ELEMENTS
    - Element Name
  - FORMS

---------------------------
Website Fonts: List fonts here for reference
Website Colours: List colour hex codes here for reference
----------------------------
*/



/* ---- CSS RESET --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%; /* This ensures an image never breaks it's container */
}

[class*=grid-][class*=-equalHeight]>[class*=col] {
  display:block;
  /* This overrides a quirk with gridlex where contents inside of equal height containers become columns themselves */
}

/* ---- GENERAL HELPER CLASSES --------------------------- */
.tall         { min-height:100vh; }
.med-height   { min-height: 50vh; }
.short        { min-height: 30vh; }

.left         { text-align: left; }
.centered     { text-align: center; }
.right        { text-align: right; }

.no-padding { padding: 0; }

.mob-show { display: none;}

.full-width { /* for image grids */
  width:100%
}


/* ----- UNIVERSAL STYLES --------------------------- */

/* Typography */
body {
  font-family: 'Work Sans'; /* Make sure you have added this font in the head of your HTML! */
  color: rgb(60,60,65);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.1rem;
  font-family: 'Courier New';
  font-weight:normal;
}
p {
  margin-bottom: 1rem;
}

h1 { font-size: 3.0rem; line-height: 1.1; }
h2 { font-size: 2.4rem; line-height: 1.1; }
h3 { font-size: 2.0rem; line-height: 1.1; }
h4 { font-size: 1.8rem; line-height: 1.35; }
h5 { font-size: 1.7rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.5; }
p  { font-size: 1.1rem; line-height: 1.5;}

li  { font-size: 1.1rem; }

.big-emphasis {
  font-size: 2rem;
}

.emphasis {
  font-size: 1.4rem;
}

a {
  color: inherit;
}


/* Padding & Margin */

header  { padding: 0 5%; }
footer  { padding: 2vh 5%; }

section         { padding: 10vh 5%; }

.col,
[class*=col-]   { padding: 2%; }

.capped-width {
  max-width: 850px;
  margin: auto;
}

.padded-left {
  padding-left: 10%;
}

/* Other universal styles */

.featured{
  background-color: #1abc9c; /* featured color */
  color: white;
}
.fa.featured {
  color: #1abc9c; /* featured color */
  background: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(245,245,245);
  margin: 3vh 0;
}
.previous, .next { /* This is to navigate to the previous and next page of pagination for blogs */
    padding: 0 1.5em;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

/* ----- HEADER & FOOTER --------------------------- */
nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: inherit;
}
nav a:hover {
  color: #de541e; /* featured color */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav a.cc-active {
  border-bottom: 1px solid;
}

.logo {
  max-height: 4.5rem;
  max-width: 20rem;
}
header {
  background-color: #ededef;
}
footer {
  background-color: #ededef;
}
footer nav a {
  display: block;
  padding: 0.5em;
}

footer nav .fa,
.social-share nav .fa {
  padding: 0 1em 0 0;
}

/* -- Mobile Nav -- */

/* Mobile Nav */
.mobile-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(60,60,65,0.95);
    color: white;
    padding: 5% 10%;
    z-index: 999;
}

.mobile-nav a {
  display      : block;
  padding: 0.5rem;
  font-size: 7vh;
}

.mobile-nav .social-icon {
  display: inline-block;
}

.mobile-menu-button {
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: none;
  z-index: 9999;
}

.mobile-menu-button .fa {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.mobile-menu-button.nav-open .fa-bars {
  display:none;
}
.mobile-menu-button .fa-times {
  display:none;
}

.mobile-menu-button.always-on {
    display: block;
    border: 2px solid white;
    color: #f0f0f0;
}

.mobile-menu-button.nav-open .fa-times {
  color: white;
  display:block;
}


/* ----- MODULAR ELEMENTS --------------------------- */
.banner {
  background-color: #ededef;
  background-size: cover;
  background-position: center;
  min-height:80vh;
}

.bg-image { /* This can be used for any col or div that you want filled with a background image. */
  background-color: #ededef;
  background-size: cover;
  background-position: center;
}

/* Buttons */
 button, /* button is an element snipcart uses */
.button,
.button-inverted {
  border: 2px solid rgb(120,120,124);
  color: rgb(120,120,124);
  border-radius: 2px;
  padding: 0.5rem 4rem;
  margin: 1em auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
.button-inverted {
    border: 2px solid white;
    color: white;
}
.button:hover,
.button-inverted:hover {
  border-color: #de541e;
  color: #de541e;
}

/* Shop Elements */
.product-loop a {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.product-loop .box-img {
  min-height: 30vh;
}

.product-loop h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0;
}

/* Customising the snipcart pop-up */
.snip-layout .snip-header,
.snip-layout .snip-footer {
  background-color:  #1abc9c; /* featured color */
}
.snip-layout .snip-footer__copyright {
  color: white;
}

/* Work Page */

.work-testimonial {
    padding: 3rem 1rem;
}

.work-list ul {
  margin-bottom: 2rem;
}

/* Blog elements */
.blog-loop > a,  {
  color: inherit;
  text-decoration: none;
}

.blog-loop .blog-item {
  padding-bottom: 1rem;
}

.post-image-vertical {
  padding-bottom: 120%;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.5rem;
}

.blog-item img,
.post-body img {
    margin-bottom: 1rem;
}

.post-body {
  padding-right: 3%;
}

.post-meta {
  font-size: 0.9rem;
}

.sidebar > div {
  border: 10px solid rgb(245,245,245);
  padding: 1.5rem;
  margin-bottom: 1rem;
}
/* this is for images inside sidebar divs to make them sit flush with the container ignoring the padding. If you change the padding above for the sidebar > div you need to change it here also. */
.sidebar img {
    margin: -1.5rem;
    width: calc(100% + 3rem);
    max-width: inherit;
    margin-bottom: 1rem;
}

blockquote {
  border-left: 2px solid rgb(120,120,124);
  margin: 2rem;
  padding-left: 3%;
}

blockquote * {
  font-size: 1.6rem;
  line-height: 1.2;
  color: rgb(120,120,124);
}

.social-share {
  margin-top: 3rem;
  border-top: 2px solid rgb(245,245,245);
  padding-top: 2rem;
}


/* Lists */
ul      { list-style: circle inside; }
ol      { list-style: decimal inside;}
ol, ul  { padding-left: 0;
          margin-top: 0;
          margin-bottom: 1rem;
        }
li      { margin-bottom: 0.5rem; }

.category {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
  border: 1px solid rgb(120,120,124);
  color: rgb(120,120,124);
  border-radius: 1px;
}
/* ----- FORMS --------------------------- */

input,
textarea {
  border-style: solid;
  border: 1px solid grey;
  padding: 0.8em;
  font-family: 'Work Sans'; /* Site Font */
  font-size: 1em;
  display: block;
  width: 100%;
  margin: 1em auto;
  vertical-align: top;
}
textarea {
  min-height: 7em;
}
input[type="submit"] {
  width: auto;
  display: block;
  background-color: #1abc9c; /* featured color */
}

form [class*=col-] {
  padding: 1%;
}

/* ------------ BACKGROUND IMAGES --------------- */

#intro-banner {
  background-image: url('/images/placeholder.jpg'); /* This is just an axample */
}

/* Online Course Purchase Options */

.padded-boxes > div {
  border: 1rem solid white;
  margin-bottom: 3rem;
  padding: 1rem;
}

.buy-box {
  background-color: white;
  margin: 0 1rem;
  border-radius: 3px;
  padding:0;
  position: relative;
  padding-bottom: 4rem;
  background-color: rgb(240,240,240);
}

.buy-box-intro h3 {
  color: white;
  background-color: teal;
  padding: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.buy-box-intro h3 span {
  color: white;
  display: block;
  font-weight: lighter;
  padding-bottom: 0.5rem;
}

.buy-box-content {
  padding: 1rem 2rem;
}

.buy-box-content .price {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.buy-box-content hr {
  border: 1px solid #78787d;
  margin: 2rem auto;
}

.buy-box-content .subtitle {
  margin-bottom: 2rem;
}

.buy-box-footer {
  padding:1rem;
  width:100%;
  display:block;
  position: absolute;
  bottom:0;
  color: white;
  text-transform: uppercase;
  background-color: rgb(90,90,95);
}


/*------- Media Queries ------------------------*/
@media(max-width:800px) {

  /* --- General Responsive Helpers ----*/

  .mob-hide {
      display: none!important;
  }
  .mob-show {
    display: block;
  }

  .mobile-menu-button {
    display: block;
  }

  /* These classes flip the order of the columns on a mobile layout so that we don't have two images touching. Try commenting them out and see the difference */
  .mob-flip {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
  }
  .mob-flip div {
      width: 100%; /* This fixes a flexbox bug */
  }

  /* ------ General Mobile Styles ---------*/
  /* This aligns everything to center on mobile, this is purely slylistic, remove or adjust to suit your design */
  body,
  .left,
  .right {
    text-align: center;
  }
  /* This adjusts the padding on all columns, this is purely slylistic, adjust to suit your design. */
  /* [class*=col-] is a fancy selector that selects everything class that contains col- including col-3, col-4 etc. */
  .col,
  [class*=col-] {
    padding: 1rem;
  }
  textarea {
    margin: 0;
  }

}/* End media query */
